In [14]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('breast-cancer.csv')

dataset.shape

(285, 10)

In [15]:
dataset

,'40-49','premeno','15-19','0-2','yes','3','right','left_up','no','recurrence-events'
0,'50-59','ge40','15-19','0-2','no','1','right','central','no','no-recurrence-events'
1,'50-59','ge40','35-39','0-2','no','2','left','left_low','no','recurrence-events'
2,'40-49','premeno','35-39','0-2','yes','3','right','left_low','yes','no-recurrence-events'
3,'40-49','premeno','30-34','3-5','yes','2','left','right_up','no','recurrence-events'
4,'50-59','premeno','25-29','3-5','no','2','right','left_up','yes','no-recurrence-events'
...,...,...,...,...,...,...,...,...,...,...
280,'50-59','ge40','30-34','6-8','yes','2','left','left_low','no','no-recurrence-events'
281,'50-59','premeno','25-29','3-5','yes','2','left','left_low','yes','no-recurrence-events'
282,'30-39','premeno','30-34','6-8','yes','2','right','right_up','no','no-recurrence-events'
283,'50-59','premeno','15-19','0-2','no','2','right','left_low','no','no-recurrence-events'
284,'50-59','ge40','40-44','0-2','no','3','left','right_up','no','no-recurrence-events'

In [16]:
dataset = pd.read_csv('breast-cancer.csv', sep = ',', names=['age','menopause','tumor-size','inv-nodes','node-caps','deg-malig','breast','breast-quad','irradiat','Class'])

dataset.shape

(286, 10)

In [17]:
dataset

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,'40-49','premeno','15-19','0-2','yes','3','right','left_up','no','recurrence-events'
1,'50-59','ge40','15-19','0-2','no','1','right','central','no','no-recurrence-events'
2,'50-59','ge40','35-39','0-2','no','2','left','left_low','no','recurrence-events'
3,'40-49','premeno','35-39','0-2','yes','3','right','left_low','yes','no-recurrence-events'
4,'40-49','premeno','30-34','3-5','yes','2','left','right_up','no','recurrence-events'
...,...,...,...,...,...,...,...,...,...,...
281,'50-59','ge40','30-34','6-8','yes','2','left','left_low','no','no-recurrence-events'
282,'50-59','premeno','25-29','3-5','yes','2','left','left_low','yes','no-recurrence-events'
283,'30-39','premeno','30-34','6-8','yes','2','right','right_up','no','no-recurrence-events'
284,'50-59','premeno','15-19','0-2','no','2','right','left_low','no','no-recurrence-events'
285,'50-59','ge40','40-44','0-2','no','3','left','right_up','no','no-recurrence-events'

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          286 non-null    object
 1   menopause    286 non-null    object
 2   tumor-size   286 non-null    object
 3   inv-nodes    286 non-null    object
 4   node-caps    278 non-null    object
 5   deg-malig    286 non-null    object
 6   breast       286 non-null    object
 7   breast-quad  285 non-null    object
 8   irradiat     286 non-null    object
 9   Class        286 non-null    object
dtypes: object(10)
memory usage: 22.5+ KB

In [19]:
dataset = dataset.drop(columns=['age','menopause','inv-nodes','deg-malig','breast','breast-quad','irradiat','Class'])

dataset

    tumor-size node-caps
0      '15-19'     'yes'
1      '15-19'      'no'
2      '35-39'      'no'
3      '35-39'     'yes'
4      '30-34'     'yes'
..         ...       ...
281    '30-34'     'yes'
282    '25-29'     'yes'
283    '30-34'     'yes'
284    '15-19'      'no'
285    '40-44'      'no'

[286 rows x 2 columns]

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tumor-size  286 non-null    object
 1   node-caps   278 non-null    object
dtypes: object(2)
memory usage: 4.6+ KB

In [21]:
dataset = dataset.dropna()

In [22]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 285
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tumor-size  278 non-null    object
 1   node-caps   278 non-null    object
dtypes: object(2)
memory usage: 6.5+ KB

In [23]:
contigency_table = pd.crosstab(index=dataset['tumor-size'], columns=dataset['node-caps'], margins=True)

contigency_table

node-caps   'no'  'yes'  All
tumor-size
'0-4'          8      0    8
'10-14'       27      1   28
'15-19'       25      4   29
'20-24'       39      9   48
'25-29'       41     10   51
'30-34'       42     16   58
'35-39'       12      7   19
'40-44'       16      6   22
'45-49'        2      1    3
'5-9'          4      0    4
'50-54'        6      2    8
All          222     56  278

In [36]:
def entropy(p):
    return -(p * np.log2(p) + (1-p) * np.log2((1-p)))

In [37]:
#Entropy(node-caps)
entropy_node_caps = entropy(56/278)
entropy_node_caps

0.7247964757272867

In [46]:
#Entropy(node-caps, tumor-size)
entropy_nc_ts = ((8/278)*0.0) + ((4/278)*0.0) + ((28/278)*entropy(1/28)) + ((29/278)*entropy(4/29)) + ((48/278)*entropy(9/48)) + ((51/278)*entropy(10/51)) + ((58/278)*entropy(16/58)) + ((19/278)*entropy(7/19)) + ((22/278)*entropy(6/22)) + ((3/278)*entropy(1/3)) + ((8/278)*entropy(2/8))

In [47]:
entropy_nc_ts

0.6762948723685661

In [48]:
#information gain(node-caps, tumor-size)
gain_nc_ts = entropy_node_caps - entropy_nc_ts
gain_nc_ts

0.04850160335872056